<a href="https://colab.research.google.com/github/Gaskell-1206/AI_Autoimmune_disease/blob/main/Data_Explore_GSM69372.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import os

# DataTable

+ ID = 
+ SPOT_ID = (Microaaray measurements) Alternative spot identifier - use only when no identifier or sequence tracking information is available. This column is useful for designating control and empty features. 
+ Full_Name = Full name of the printed material
+ Printed conc. (mg/ml) = Concentration of printed solution in mg/ml
+ Supplier = Company that delivered the material
+ Cat.No. = 
+ Lot.No. = 
+ UniProt entry =

In [2]:
folder_path = '/content/drive/MyDrive/Autoimmune_Disease/Datasets/Autoantibodies_and_nucleic_acids/GSE69372_RAW'

In [3]:
df0 = pd.read_csv(os.path.join(folder_path,'DataTable.csv'))
df0

,ID,SPOT_ID,Full_Name,Printed conc. (mg/ml),Supplier,Cat.No.,Lot.No.,UniProt entry
0,1,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN
1,2,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN
2,3,PBS,PBS,NaN,NaN,NaN,NaN,NaN
3,4,hIgG{4},Human IgG Purified Immunoglobulin,0.018519mg/ml,Sigma,I2511,100M4830,NaN
4,5,hIgG{4},Human IgG Purified Immunoglobulin,0.018519mg/ml,Sigma,I2511,100M4830,NaN
...,...,...,...,...,...,...,...,...
151,152,ahc3(Fab2),Affinity purified Goat polyclonal C3 antibody ...,0.33mg/ml,Mybiosource,MBS534249,x10052150,NaN
152,153,ahc3(Fab2),Affinity purified Goat polyclonal C3 antibody ...,0.33mg/ml,Mybiosource,MBS534249,x10052150,NaN
153,154,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN
154,155,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN
155,156,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN

# Raw Data (one patient)
Microaaray slides \
IgM, IgG, C3 and C4 signals
Bkg: local background \
Spot: Three parallel signal intensities

+ Normalization:
1. slide to slide normalization was applied separately to the two print-batches of microarray slides
2. compensate the possible differences in the two printing batches. Values in a given batch were divided by geometric means of values derived from the given antigen in control serum samples

In [4]:
df1 = pd.read_csv(os.path.join(folder_path,"GSE69365-C3/GSM1698601_C3-1.txt"), sep="\t")
df1.columns = df1.columns.str.replace(' ','')
df1

,ID,Pos.X,Pos.Y,Bkg.Mean,Spot.Mean,Bkg.Median,Spot.Median,Bkg.StdDev,Spot.StdDev,Bkg.Sum,Spot.Sum,Bkg.Area,Spot.Area,Spot.Sat.(%),Found,Pos.Nom.X,Pos.Nom.Y,Dia.,Rect.,Contour
0,1,101,86,0.028796,0.231088,0.028885,0.197055,0.002829,0.130372,4914074,11343133,2604,749,0,True,101,86,31,"{X=0,Y=0,Width=0,Height=0}",NaN
1,2,166,87,0.028790,0.251527,0.028763,0.215717,0.002754,0.125962,4913050,10961732,2604,665,0,True,165,86,29,"{X=0,Y=0,Width=0,Height=0}",NaN
2,3,229,86,0.028636,0.027914,0.028595,0.027939,0.002749,0.002776,4886810,2401938,2604,1313,0,False,229,86,40,"{X=0,Y=0,Width=0,Height=0}",NaN
3,4,293,86,0.028853,0.027966,0.028763,0.027985,0.002798,0.002660,4923841,2406443,2604,1313,0,False,293,86,40,"{X=0,Y=0,Width=0,Height=0}",NaN
4,5,358,85,0.029216,0.028092,0.029114,0.028107,0.002761,0.002668,4985826,2417221,2604,1313,0,False,358,85,40,"{X=0,Y=0,Width=0,Height=0}",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,550,855,0.032945,0.073186,0.032914,0.072786,0.003114,0.018768,5622219,2345373,2604,489,0,True,554,855,25,"{X=0,Y=0,Width=0,Height=0}",NaN
152,153,616,856,0.033208,0.078905,0.033173,0.077516,0.003055,0.016897,5666965,2528624,2604,489,0,True,618,855,24,"{X=0,Y=0,Width=0,Height=0}",NaN
153,154,678,855,0.033755,0.260459,0.033570,0.221576,0.004677,0.153735,5760334,12784807,2604,749,0,True,682,855,31,"{X=0,Y=0,Width=0,Height=0}",NaN
154,155,743,854,0.033996,0.263247,0.033799,0.217273,0.003322,0.158495,5801582,12921672,2604,749,0,True,746,854,30,"{X=0,Y=0,Width=0,Height=0}",NaN
155,156,808,855,0.035069,0.265069,0.034928,0.222599,0.003527,0.153479,5984698,13011096,2604,749,0,True,811,854,31,"{X=0,Y=0,Width=0,Height=0}",NaN

## Merge DataTable and Raw Data

In [20]:
df_all_1 = df0.merge(df1, on='ID', how='inner')
df_all_1.head(-20)

,ID,SPOT_ID,Full_Name,Printed conc. (mg/ml),Supplier,Cat.No.,Lot.No.,UniProt entry,Pos.X,Pos.Y,...,Spot.Sum,Bkg.Area,Spot.Area,Spot.Sat.(%),Found,Pos.Nom.X,Pos.Nom.Y,Dia.,Rect.,Contour
0,1,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN,101,86,...,11343133,2604,749,0,True,101,86,31,"{X=0,Y=0,Width=0,Height=0}",NaN
1,2,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN,166,87,...,10961732,2604,665,0,True,165,86,29,"{X=0,Y=0,Width=0,Height=0}",NaN
2,3,PBS,PBS,NaN,NaN,NaN,NaN,NaN,229,86,...,2401938,2604,1313,0,False,229,86,40,"{X=0,Y=0,Width=0,Height=0}",NaN
3,4,hIgG{4},Human IgG Purified Immunoglobulin,0.018519mg/ml,Sigma,I2511,100M4830,NaN,293,86,...,2406443,2604,1313,0,False,293,86,40,"{X=0,Y=0,Width=0,Height=0}",NaN
4,5,hIgG{4},Human IgG Purified Immunoglobulin,0.018519mg/ml,Sigma,I2511,100M4830,NaN,358,85,...,2417221,2604,1313,0,False,358,85,40,"{X=0,Y=0,Width=0,Height=0}",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,132,RNA{2},RNA from Raji cell,0.2mg/ml,NaN,NaN,NaN,NaN,808,727,...,2097160,2604,489,0,True,810,726,24,"{X=0,Y=0,Width=0,Height=0}",NaN
132,133,hIgM{2},IgM from human serum,0.20815mg/ml,Sigma,I8260-1MG,052M4761V,NaN,104,793,...,2250794,2604,1313,0,False,104,793,40,"{X=0,Y=0,Width=0,Height=0}",NaN
133,134,hIgM{2},IgM from human serum,0.20815mg/ml,Sigma,I8260-1MG,052M4761V,NaN,168,793,...,2256470,2604,1313,0,False,168,793,40,"{X=0,Y=0,Width=0,Height=0}",NaN
134,135,hIgM{2},IgM from human serum,0.20815mg/ml,Sigma,I8260-1MG,052M4761V,NaN,232,792,...,2297369,2604,1313,0,False,232,792,40,"{X=0,Y=0,Width=0,Height=0}",NaN
135,136,xdsDNA{2},"Sonicated Deoxyribonucleic acid sodium salt, f...",0.04mg/ml,NaN,NaN,NaN,NaN,296,792,...,2656868,2604,1313,0,False,296,792,40,"{X=0,Y=0,Width=0,Height=0}",NaN

In [18]:
df_all_1_sub = df_all_1[['SPOT_ID','Full_Name','Bkg.Median','Spot.Median']]
df_all_1_sub.head(20)

    SPOT_ID                                 Full_Name  Bkg.Median  Spot.Median
0        BB              Fluorescent positioning spot    0.028885     0.197055
1        BB              Fluorescent positioning spot    0.028763     0.215717
2       PBS                                       PBS    0.028595     0.027939
3   hIgG{4}         Human IgG Purified Immunoglobulin    0.028763     0.027985
4   hIgG{4}         Human IgG Purified Immunoglobulin    0.029114     0.028107
5   hIgG{4}         Human IgG Purified Immunoglobulin    0.029587     0.028595
6   ahC4{2}  Goat IGG Fraction to human complement C4    0.029969     0.029007
7   ahC4{2}  Goat IGG Fraction to human complement C4    0.030182     0.028946
8   ahC4{2}  Goat IGG Fraction to human complement C4    0.030503     0.029419
9       PBS                                       PBS    0.031159     0.030381
10      PBS                                       PBS    0.031876     0.030686
11       BB              Fluorescent positioning spot    0.034028     0.205890
12   hC4{4}      Purified human complement protein C4    0.028183     0.027207
13   hC4{4}      Purified human complement protein C4    0.028321     0.027329
14   hC4{4}      Purified human complement protein C4    0.028809     0.027680
15  hIgG{3}         Human IgG Purified Immunoglobulin    0.029007     0.028443
16  hIgG{3}         Human IgG Purified Immunoglobulin    0.029038     0.027710
17  hIgG{3}         Human IgG Purified Immunoglobulin    0.029679     0.028428
18  ahC4{1}  Goat IGG Fraction to human complement C4    0.030747     0.030411
19  ahC4{1}  Goat IGG Fraction to human complement C4    0.029969     0.029511

# Processed Data (all patients)
+ Fluorescent signal intensity
+ Data Processing: 
Local background of spot ('Bkg.Median') was substracted from the value of signal ('Spot.Median'). Values were multiplied by 65535 and rounded to be integers. Negative signals values were clamped to arbitrary value 1.

In [8]:
df2 = pd.read_csv(os.path.join(folder_path,"expreData.csv"))
df2

,exprs.GSM1698601,exprs.GSM1698602,exprs.GSM1698603,exprs.GSM1698604,exprs.GSM1698605,exprs.GSM1698606,exprs.GSM1698607,exprs.GSM1698608,exprs.GSM1698609,exprs.GSM1698610,...,exprs.GSM1700323,exprs.GSM1700324,exprs.GSM1700325,exprs.GSM1700326,exprs.GSM1700327,exprs.GSM1700328,exprs.GSM1700329,exprs.GSM1700330,exprs.GSM1700331,exprs.GSM1700332
0,11021,12396,11083,10407,10263,16989,9986,14114,10414,14728,...,23158,14696,32353,15494,34519,18430,35063,19412,25291,17826
1,12252,13838,12692,10082,11503,14406,10123,12243,11415,16959,...,41863,11446,30365,11705,31850,14696,26042,14816,27171,18483
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2613,3074,2215,3289,3605,5014,2584,2748,4550,5748,...,252,344,1341,253,284,167,1108,347,276,261
152,2906,3029,2249,3051,3828,4480,2783,2530,4741,5453,...,264,343,229,209,265,176,1134,332,267,213
153,12321,12978,12573,10885,11551,13047,11122,10323,9885,15757,...,13505,13045,19055,10664,11760,10774,9686,14102,12794,13062
154,12024,13634,11362,10802,12220,13217,11171,10096,11313,14188,...,14063,13268,14334,10633,15086,13971,11987,13922,13689,17757
155,12299,15051,12939,10882,11335,12587,10379,11541,10884,15018,...,20796,13899,20165,14468,15221,14423,12454,11110,21205,13854

## Merge Processed Data

In [13]:
df_all_2 = pd.merge(df_all_1_sub, df2, left_index=True, right_index=True)
df_all_2

,SPOT_ID,Full_Name,Bkg.Median,Spot.Median,exprs.GSM1698601,exprs.GSM1698602,exprs.GSM1698603,exprs.GSM1698604,exprs.GSM1698605,exprs.GSM1698606,...,exprs.GSM1700323,exprs.GSM1700324,exprs.GSM1700325,exprs.GSM1700326,exprs.GSM1700327,exprs.GSM1700328,exprs.GSM1700329,exprs.GSM1700330,exprs.GSM1700331,exprs.GSM1700332
0,BB,Fluorescent positioning spot,0.028885,0.197055,11021,12396,11083,10407,10263,16989,...,23158,14696,32353,15494,34519,18430,35063,19412,25291,17826
1,BB,Fluorescent positioning spot,0.028763,0.215717,12252,13838,12692,10082,11503,14406,...,41863,11446,30365,11705,31850,14696,26042,14816,27171,18483
2,PBS,PBS,0.028595,0.027939,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,hIgG{4},Human IgG Purified Immunoglobulin,0.028763,0.027985,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,hIgG{4},Human IgG Purified Immunoglobulin,0.029114,0.028107,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,ahc3(Fab2),Affinity purified Goat polyclonal C3 antibody ...,0.032914,0.072786,2613,3074,2215,3289,3605,5014,...,252,344,1341,253,284,167,1108,347,276,261
152,ahc3(Fab2),Affinity purified Goat polyclonal C3 antibody ...,0.033173,0.077516,2906,3029,2249,3051,3828,4480,...,264,343,229,209,265,176,1134,332,267,213
153,BB,Fluorescent positioning spot,0.033570,0.221576,12321,12978,12573,10885,11551,13047,...,13505,13045,19055,10664,11760,10774,9686,14102,12794,13062
154,BB,Fluorescent positioning spot,0.033799,0.217273,12024,13634,11362,10802,12220,13217,...,14063,13268,14334,10633,15086,13971,11987,13922,13689,17757
155,BB,Fluorescent positioning spot,0.034928,0.222599,12299,15051,12939,10882,11335,12587,...,20796,13899,20165,14468,15221,14423,12454,11110,21205,13854

# Demography

In [ ]:
df3 = pd.read_csv("/content/drive/MyDrive/Autoimmune Disease/Datasets/Autoantibodies and nucleic acids skew complement consumption in systemic lupus erythematosus [C4]/GSE69372_RAW/phenoData.csv")
df3

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count,age in years:ch1,disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1,gender:ch1,"printing batches (1,2):ch1",slide no.:ch1
0,Patient#1-C3,GSM1698601,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,34,SLE,Female,1,1
1,Patient#2-C3,GSM1698602,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,31,UCTD,Female,1,1
2,Patient#3-C3,GSM1698603,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,38,SLE,Female,1,1
3,Patient#4-C3,GSM1698604,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,30,SjS,Female,1,1
4,Patient#5-C3,GSM1698605,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,23,NHS,Male,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,Patient#421-IgM,GSM1700328,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,31,NHS,Male,2,30
1696,Patient#422-IgM,GSM1700329,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,47,UCTD,Female,2,30
1697,Patient#423-IgM,GSM1700330,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,46,NHS,Male,2,30
1698,Patient#424-IgM,GSM1700331,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,23,NHS,Female,2,30
1699,Patient#425-IgM,GSM1700332,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,59,NHS,Male,2,30

## Merge Patients with Demography

In [ ]:
df4 = df2.T
df4.index = df4.index.str.replace('exprs.','')
df4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
GSM1698601,11021,12252,1,1,1,1,1,1,1,1,...,1,225,221,219,2608,2613,2906,12321,12024,12299
GSM1698602,12396,13838,1,1,1,1,1,1,1,1,...,65,3282,3572,3416,3486,3074,3029,12978,13634,15051
GSM1698603,11083,12692,1,1,1,1,1,1,1,1,...,1266,3624,3713,3703,2460,2215,2249,12573,11362,12939
GSM1698604,10407,10082,1,1,1,1,1,1,1,1,...,1,8247,7816,8307,3465,3289,3051,10885,10802,10882
GSM1698605,10263,11503,1,1,1,1,1,1,1,1,...,386,1,1,1,3601,3605,3828,11551,12220,11335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM1700328,18430,14696,1,1,1,1,1,1,1,1,...,15398,79,97,57,188,167,176,10774,13971,14423
GSM1700329,35063,26042,1,1,1,1,1,1,1,1,...,20130,889,955,963,1102,1108,1134,9686,11987,12454
GSM1700330,19412,14816,1,1,1,1,1,1,1,1,...,15344,192,196,214,324,347,332,14102,13922,11110
GSM1700331,25291,27171,1,1,1,1,1,1,1,1,...,19953,437,409,411,273,276,267,12794,13689,21205
GSM1700332,17826,18483,1,1,1,1,1,1,1,1,...,16246,294,307,294,180,261,213,13062,17757,13854

In [ ]:
df5 = df3.set_index('geo_accession')
df5

,title,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,characteristics_ch1.1,...,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count,age in years:ch1,disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1,gender:ch1,"printing batches (1,2):ch1",slide no.:ch1
geo_accession,,,,,,,,,,,,,,,,,,,,,
GSM1698601,Patient#1-C3,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,34,SLE,Female,1,1
GSM1698602,Patient#2-C3,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,31,UCTD,Female,1,1
GSM1698603,Patient#3-C3,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,38,SLE,Female,1,1
GSM1698604,Patient#4-C3,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,30,SjS,Female,1,1
GSM1698605,Patient#5-C3,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,23,NHS,Male,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM1700328,Patient#421-IgM,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,31,NHS,Male,2,30
GSM1700329,Patient#422-IgM,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,47,UCTD,Female,2,30
GSM1700330,Patient#423-IgM,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,46,NHS,Male,2,30
GSM1700331,Patient#424-IgM,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,23,NHS,Female,2,30
GSM1700332,Patient#425-IgM,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,disease group (nhs-normal human serum; sle-sys...,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,59,NHS,Male,2,30

In [ ]:
df5['gender:ch1'].value_counts()

Female    1272
Male       428
Name: gender:ch1, dtype: int64

In [ ]:
df5['age in years:ch1'].value_counts()

37    76
35    68
49    56
32    56
43    56
      ..
80     4
64     4
77     4
17     4
69     4
Name: age in years:ch1, Length: 62, dtype: int64

+ NHS: normal human serum
+ SLE: systemic lupus erythematosus
+ SSc: systemic sclerosis
+ SjS: sjörgen's syndrome
+ UCTD: undifferentiated connective tissue disease
+ PsA: psoriatic arthritis

In [ ]:
df5["disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1"].value_counts()

SLE     844
NHS     596
SSc     164
SjS      52
UCTD     36
PsA       8
Name: disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1, dtype: int64

In [ ]:
df5.columns

Index(['title', 'status', 'submission_date', 'last_update_date', 'type',
       'channel_count', 'source_name_ch1', 'organism_ch1',
       'characteristics_ch1', 'characteristics_ch1.1', 'characteristics_ch1.2',
       'characteristics_ch1.3', 'characteristics_ch1.4',
       'treatment_protocol_ch1', 'molecule_ch1', 'extract_protocol_ch1',
       'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol',
       'scan_protocol', 'data_processing', 'platform_id', 'contact_name',
       'contact_email', 'contact_institute', 'contact_address', 'contact_city',
       'contact_zip/postal_code', 'contact_country', 'supplementary_file',
       'data_row_count', 'age in years:ch1',
       'disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1',
       'gender:ch1', 'printing batches (1,2):ch1', 'slide no.:ch1'],
      dtype='object')

In [ ]:
df5_sub = df5[["age in years:ch1",
               "gender:ch1",
               "disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1",]]
df5_sub = df5_sub.rename(columns = {"disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1":'Label'})        
df5_sub = df5_sub.rename(columns = {"age in years:ch1":'Age'})        
df5_sub = df5_sub.rename(columns = {"gender:ch1":'Gender'})

df5_sub

               Age  Gender Label
geo_accession
GSM1698601      34  Female   SLE
GSM1698602      31  Female  UCTD
GSM1698603      38  Female   SLE
GSM1698604      30  Female   SjS
GSM1698605      23    Male   NHS
...            ...     ...   ...
GSM1700328      31    Male   NHS
GSM1700329      47  Female  UCTD
GSM1700330      46    Male   NHS
GSM1700331      23  Female   NHS
GSM1700332      59    Male   NHS

[1700 rows x 3 columns]

In [ ]:
df_all_3 = pd.merge(df4,df5_sub, left_index=True, right_index=True)
df_all_3

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,Age,Gender,Label
GSM1698601,11021,12252,1,1,1,1,1,1,1,1,...,219,2608,2613,2906,12321,12024,12299,34,Female,SLE
GSM1698602,12396,13838,1,1,1,1,1,1,1,1,...,3416,3486,3074,3029,12978,13634,15051,31,Female,UCTD
GSM1698603,11083,12692,1,1,1,1,1,1,1,1,...,3703,2460,2215,2249,12573,11362,12939,38,Female,SLE
GSM1698604,10407,10082,1,1,1,1,1,1,1,1,...,8307,3465,3289,3051,10885,10802,10882,30,Female,SjS
GSM1698605,10263,11503,1,1,1,1,1,1,1,1,...,1,3601,3605,3828,11551,12220,11335,23,Male,NHS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM1700328,18430,14696,1,1,1,1,1,1,1,1,...,57,188,167,176,10774,13971,14423,31,Male,NHS
GSM1700329,35063,26042,1,1,1,1,1,1,1,1,...,963,1102,1108,1134,9686,11987,12454,47,Female,UCTD
GSM1700330,19412,14816,1,1,1,1,1,1,1,1,...,214,324,347,332,14102,13922,11110,46,Male,NHS
GSM1700331,25291,27171,1,1,1,1,1,1,1,1,...,411,273,276,267,12794,13689,21205,23,Female,NHS
GSM1700332,17826,18483,1,1,1,1,1,1,1,1,...,294,180,261,213,13062,17757,13854,59,Male,NHS

In [ ]:
df_all_3_IgM = df_all_3.iloc[0:400,:]
df_all_3_IgM

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,Age,Gender,Label
GSM1698601,11021,12252,1,1,1,1,1,1,1,1,...,219,2608,2613,2906,12321,12024,12299,34,Female,SLE
GSM1698602,12396,13838,1,1,1,1,1,1,1,1,...,3416,3486,3074,3029,12978,13634,15051,31,Female,UCTD
GSM1698603,11083,12692,1,1,1,1,1,1,1,1,...,3703,2460,2215,2249,12573,11362,12939,38,Female,SLE
GSM1698604,10407,10082,1,1,1,1,1,1,1,1,...,8307,3465,3289,3051,10885,10802,10882,30,Female,SjS
GSM1698605,10263,11503,1,1,1,1,1,1,1,1,...,1,3601,3605,3828,11551,12220,11335,23,Male,NHS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM1699008,13811,5879,1,1,1,1,1,1,1,1,...,6603,9363,9278,9590,4591,6666,6932,24,Female,SLE
GSM1699009,10710,10908,1,1,1,1,1,1,1,1,...,1,4,31,15,13702,13882,13729,31,Female,NHS
GSM1699010,14404,14389,1,1,1,1,1,1,1,1,...,1,13477,12826,13919,17282,15486,15374,46,Female,SjS
GSM1699011,17126,17560,1,1,1,1,1,1,1,1,...,1,10916,10740,10902,7029,7161,17870,52,Male,NHS
GSM1699012,13300,14216,1,1,1,1,1,1,3,1,...,1,15997,15389,14472,15503,13975,14044,69,Female,SLE

In [ ]:
df_all_3.iloc[0,:]

0          11021
1          12252
2              1
3              1
4              1
           ...
154        12024
155        12299
Age           34
Gender    Female
Label        SLE
Name: GSM1698601, Length: 159, dtype: object

In [ ]:
df_all_3.iloc[425,:]

0           5998
1           6719
2              1
3              1
4              1
           ...
154         6732
155         6914
Age           34
Gender    Female
Label        SLE
Name: GSM1699040, Length: 159, dtype: object

In [ ]:
# df_all_3[(df_all_3['Age']==35) & (df_all_3['Gender']=='Female') & (df_all_3['Label']=='SLE')]

# Groupby patients

In [ ]:
df3

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count,age in years:ch1,disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1,gender:ch1,"printing batches (1,2):ch1",slide no.:ch1
0,Patient#1-C3,GSM1698601,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,34,SLE,Female,1,1
1,Patient#2-C3,GSM1698602,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,31,UCTD,Female,1,1
2,Patient#3-C3,GSM1698603,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,38,SLE,Female,1,1
3,Patient#4-C3,GSM1698604,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,30,SjS,Female,1,1
4,Patient#5-C3,GSM1698605,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1698...,156,23,NHS,Male,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,Patient#421-IgM,GSM1700328,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,31,NHS,Male,2,30
1696,Patient#422-IgM,GSM1700329,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,47,UCTD,Female,2,30
1697,Patient#423-IgM,GSM1700330,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,46,NHS,Male,2,30
1698,Patient#424-IgM,GSM1700331,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Female,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,23,NHS,Female,2,30
1699,Patient#425-IgM,GSM1700332,Public on Mar 07 2016,May 29 2015,Mar 07 2016,protein,1,serum,Homo sapiens,gender: Male,...,Budapest,1117,Hungary,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM1700...,156,59,NHS,Male,2,30

In [ ]:
df4

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
GSM1698601,11021,12252,1,1,1,1,1,1,1,1,...,1,225,221,219,2608,2613,2906,12321,12024,12299
GSM1698602,12396,13838,1,1,1,1,1,1,1,1,...,65,3282,3572,3416,3486,3074,3029,12978,13634,15051
GSM1698603,11083,12692,1,1,1,1,1,1,1,1,...,1266,3624,3713,3703,2460,2215,2249,12573,11362,12939
GSM1698604,10407,10082,1,1,1,1,1,1,1,1,...,1,8247,7816,8307,3465,3289,3051,10885,10802,10882
GSM1698605,10263,11503,1,1,1,1,1,1,1,1,...,386,1,1,1,3601,3605,3828,11551,12220,11335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM1700328,18430,14696,1,1,1,1,1,1,1,1,...,15398,79,97,57,188,167,176,10774,13971,14423
GSM1700329,35063,26042,1,1,1,1,1,1,1,1,...,20130,889,955,963,1102,1108,1134,9686,11987,12454
GSM1700330,19412,14816,1,1,1,1,1,1,1,1,...,15344,192,196,214,324,347,332,14102,13922,11110
GSM1700331,25291,27171,1,1,1,1,1,1,1,1,...,19953,437,409,411,273,276,267,12794,13689,21205
GSM1700332,17826,18483,1,1,1,1,1,1,1,1,...,16246,294,307,294,180,261,213,13062,17757,13854

In [ ]:
df3_sub = df3[["title",
               "age in years:ch1",
               "gender:ch1",
               "disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1",]]
df3_sub = df3_sub.rename(columns = {"disease group (nhs-normal human serum; sle-systemic lupus erythematosus ;uctd-undifferentiated connective tissue disease; sjs-sjörgen's syndrome;ssc-systemic sclerosis; psa-psoriatic arthritis):ch1":'Label'})        
df3_sub = df3_sub.rename(columns = {"age in years:ch1":'Age'})        
df3_sub = df3_sub.rename(columns = {"gender:ch1":'Gender'})
df3_sub

                title  Age  Gender Label
0        Patient#1-C3   34  Female   SLE
1        Patient#2-C3   31  Female  UCTD
2        Patient#3-C3   38  Female   SLE
3        Patient#4-C3   30  Female   SjS
4        Patient#5-C3   23    Male   NHS
...               ...  ...     ...   ...
1695  Patient#421-IgM   31    Male   NHS
1696  Patient#422-IgM   47  Female  UCTD
1697  Patient#423-IgM   46    Male   NHS
1698  Patient#424-IgM   23  Female   NHS
1699  Patient#425-IgM   59    Male   NHS

[1700 rows x 4 columns]

In [ ]:
df3_C3 = df3_sub.iloc[0:425,:]
df3_C4 = df3_sub.iloc[425:850,:]
df3_IgG = df3_sub.iloc[850:1275,:]
df3_IgM = df3_sub.iloc[1275:1700,:]
df3_C3

              title  Age  Gender Label
0      Patient#1-C3   34  Female   SLE
1      Patient#2-C3   31  Female  UCTD
2      Patient#3-C3   38  Female   SLE
3      Patient#4-C3   30  Female   SjS
4      Patient#5-C3   23    Male   NHS
..              ...  ...     ...   ...
420  Patient#421-C3   31    Male   NHS
421  Patient#422-C3   47  Female  UCTD
422  Patient#423-C3   46    Male   NHS
423  Patient#424-C3   23  Female   NHS
424  Patient#425-C3   59    Male   NHS

[425 rows x 4 columns]

In [ ]:
df4_C3 = df4.iloc[0:425,:].reset_index().drop(columns="index").add_prefix('C3_')
df4_C4 = df4.iloc[425:850,:].reset_index().drop(columns="index").add_prefix('C4_')
df4_IgG = df4.iloc[850:1275,:].reset_index().drop(columns="index").add_prefix('IgG_')
df4_IgM = df4.iloc[1275:1700,:].reset_index().drop(columns="index").add_prefix('IgM_')
df4_C3

,C3_0,C3_1,C3_2,C3_3,C3_4,C3_5,C3_6,C3_7,C3_8,C3_9,...,C3_146,C3_147,C3_148,C3_149,C3_150,C3_151,C3_152,C3_153,C3_154,C3_155
0,11021,12252,1,1,1,1,1,1,1,1,...,1,225,221,219,2608,2613,2906,12321,12024,12299
1,12396,13838,1,1,1,1,1,1,1,1,...,65,3282,3572,3416,3486,3074,3029,12978,13634,15051
2,11083,12692,1,1,1,1,1,1,1,1,...,1266,3624,3713,3703,2460,2215,2249,12573,11362,12939
3,10407,10082,1,1,1,1,1,1,1,1,...,1,8247,7816,8307,3465,3289,3051,10885,10802,10882
4,10263,11503,1,1,1,1,1,1,1,1,...,386,1,1,1,3601,3605,3828,11551,12220,11335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,13718,13972,1,1,1,1,1,1,1,1,...,139,1,1,1,13511,11649,14745,9153,12443,13907
421,12090,12422,1,1,1,1,1,1,1,1,...,1,176,224,199,6820,7207,7581,12840,12800,13009
422,14142,14321,1,1,1,1,1,1,1,5,...,2256,1,1,1,23767,27400,28727,15044,15662,14634
423,12857,13130,1,1,1,1,1,1,1,1,...,1,1,1,1,11311,11574,11818,14598,13800,12753
424,14663,14014,1,1,1,1,1,1,1,1,...,237,1,1,1,9203,9258,9588,14193,14112,12765

In [ ]:
df_final_all = pd.merge(df4_C3, df4_C4, left_index=True, right_index=True)
df_final_all = pd.merge(df_final_all, df4_IgG, left_index=True, right_index=True)
df_final_all = pd.merge(df_final_all, df4_IgM, left_index=True, right_index=True)
df_final_all = pd.merge(df_final_all, df3_C3, left_index=True, right_index=True)
df_final_all = df_final_all.drop(columns="title")
df_final_all

,C3_0,C3_1,C3_2,C3_3,C3_4,C3_5,C3_6,C3_7,C3_8,C3_9,...,IgM_149,IgM_150,IgM_151,IgM_152,IgM_153,IgM_154,IgM_155,Age,Gender,Label
0,11021,12252,1,1,1,1,1,1,1,1,...,660,1,1,1,44080,43980,34434,34,Female,SLE
1,12396,13838,1,1,1,1,1,1,1,1,...,1904,1,1,1,42592,42421,41665,31,Female,UCTD
2,11083,12692,1,1,1,1,1,1,1,1,...,220,1,1,1,44185,44782,10094,38,Female,SLE
3,10407,10082,1,1,1,1,1,1,1,1,...,869,51,1,1,43895,43407,39912,30,Female,SjS
4,10263,11503,1,1,1,1,1,1,1,1,...,1,1,1,1,39734,44459,41131,23,Male,NHS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,13718,13972,1,1,1,1,1,1,1,1,...,57,188,167,176,10774,13971,14423,31,Male,NHS
421,12090,12422,1,1,1,1,1,1,1,1,...,963,1102,1108,1134,9686,11987,12454,47,Female,UCTD
422,14142,14321,1,1,1,1,1,1,1,5,...,214,324,347,332,14102,13922,11110,46,Male,NHS
423,12857,13130,1,1,1,1,1,1,1,1,...,411,273,276,267,12794,13689,21205,23,Female,NHS
424,14663,14014,1,1,1,1,1,1,1,1,...,294,180,261,213,13062,17757,13854,59,Male,NHS

In [ ]:
df_final_all[df_final_all.isnull().T.any()]

Empty DataFrame
Columns: [C3_0, C3_1, C3_2, C3_3, C3_4, C3_5, C3_6, C3_7, C3_8, C3_9, C3_10, C3_11, C3_12, C3_13, C3_14, C3_15, C3_16, C3_17, C3_18, C3_19, C3_20, C3_21, C3_22, C3_23, C3_24, C3_25, C3_26, C3_27, C3_28, C3_29, C3_30, C3_31, C3_32, C3_33, C3_34, C3_35, C3_36, C3_37, C3_38, C3_39, C3_40, C3_41, C3_42, C3_43, C3_44, C3_45, C3_46, C3_47, C3_48, C3_49, C3_50, C3_51, C3_52, C3_53, C3_54, C3_55, C3_56, C3_57, C3_58, C3_59, C3_60, C3_61, C3_62, C3_63, C3_64, C3_65, C3_66, C3_67, C3_68, C3_69, C3_70, C3_71, C3_72, C3_73, C3_74, C3_75, C3_76, C3_77, C3_78, C3_79, C3_80, C3_81, C3_82, C3_83, C3_84, C3_85, C3_86, C3_87, C3_88, C3_89, C3_90, C3_91, C3_92, C3_93, C3_94, C3_95, C3_96, C3_97, C3_98, C3_99, ...]
Index: []

[0 rows x 627 columns]

In [ ]:
df_final_all.to_csv('/content/drive/MyDrive/Autoimmune Disease/Datasets/Autoantibodies and nucleic acids skew complement consumption in systemic lupus erythematosus [C4]/GSE69372_RAW/AllMergedData.csv',index=False)

# New Processed Data

In [7]:
df_all_1.head()

,ID,SPOT_ID,Full_Name,Printed conc. (mg/ml),Supplier,Cat.No.,Lot.No.,UniProt entry,Pos.X,Pos.Y,...,Spot.Sum,Bkg.Area,Spot.Area,Spot.Sat.(%),Found,Pos.Nom.X,Pos.Nom.Y,Dia.,Rect.,Contour
0,1,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN,101,86,...,11343133,2604,749,0,True,101,86,31,"{X=0,Y=0,Width=0,Height=0}",NaN
1,2,BB,Fluorescent positioning spot,NaN,NaN,NaN,NaN,NaN,166,87,...,10961732,2604,665,0,True,165,86,29,"{X=0,Y=0,Width=0,Height=0}",NaN
2,3,PBS,PBS,NaN,NaN,NaN,NaN,NaN,229,86,...,2401938,2604,1313,0,False,229,86,40,"{X=0,Y=0,Width=0,Height=0}",NaN
3,4,hIgG{4},Human IgG Purified Immunoglobulin,0.018519mg/ml,Sigma,I2511,100M4830,NaN,293,86,...,2406443,2604,1313,0,False,293,86,40,"{X=0,Y=0,Width=0,Height=0}",NaN
4,5,hIgG{4},Human IgG Purified Immunoglobulin,0.018519mg/ml,Sigma,I2511,100M4830,NaN,358,85,...,2417221,2604,1313,0,False,358,85,40,"{X=0,Y=0,Width=0,Height=0}",NaN

In [38]:
df_all_2_new = df_all_2.drop(columns=['Bkg.Median','Spot.Median','Full_Name','SPOT_ID'])
# df_all_2_new = df_all_2_new.transform(data_transform)
df_all_2_new

,exprs.GSM1698601,exprs.GSM1698602,exprs.GSM1698603,exprs.GSM1698604,exprs.GSM1698605,exprs.GSM1698606,exprs.GSM1698607,exprs.GSM1698608,exprs.GSM1698609,exprs.GSM1698610,...,exprs.GSM1700323,exprs.GSM1700324,exprs.GSM1700325,exprs.GSM1700326,exprs.GSM1700327,exprs.GSM1700328,exprs.GSM1700329,exprs.GSM1700330,exprs.GSM1700331,exprs.GSM1700332
0,11021,12396,11083,10407,10263,16989,9986,14114,10414,14728,...,23158,14696,32353,15494,34519,18430,35063,19412,25291,17826
1,12252,13838,12692,10082,11503,14406,10123,12243,11415,16959,...,41863,11446,30365,11705,31850,14696,26042,14816,27171,18483
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2613,3074,2215,3289,3605,5014,2584,2748,4550,5748,...,252,344,1341,253,284,167,1108,347,276,261
152,2906,3029,2249,3051,3828,4480,2783,2530,4741,5453,...,264,343,229,209,265,176,1134,332,267,213
153,12321,12978,12573,10885,11551,13047,11122,10323,9885,15757,...,13505,13045,19055,10664,11760,10774,9686,14102,12794,13062
154,12024,13634,11362,10802,12220,13217,11171,10096,11313,14188,...,14063,13268,14334,10633,15086,13971,11987,13922,13689,17757
155,12299,15051,12939,10882,11335,12587,10379,11541,10884,15018,...,20796,13899,20165,14468,15221,14423,12454,11110,21205,13854